@import './base.css';

#app {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem 2rem;
}

a {
  color: var(--color-accent-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
